.main-sidebar .sidebar-menu li.active a {
    border-left: 6px solid crimson;
    border-radius: 0 50px 50px 0 ;
    }

body:not(.sidebar-mini) .sidebar-style-3{
    background-color: crimson;
}

/* For Admin dashboard */
.admin-sidebar .sidebar-menu li.active a {
  border-left: 6px solid #66ffd2;
  border-radius: 0 50px 50px 0 ;
}
/* For Admin dashboard */

.fpass:hover{
    text-decoration: none;
}
.acc:hover{
    text-decoration: none;
    color: #0095FF;;
}
.fpass:hover{
    text-decoration: none;
    color: #0095FF;;
}
 
#wlc{
    font-weight: light;
    padding-left: 15px;
    font-family: sans-serif;
    color: #fff;
}

#registration-welcome{
    padding-left: 130px;
    font-family: sans-serif;
    color: #fff;
}


.intro{
    left:300px;
    top:60px;
}

.p-login{
    font-weight: bolder;
    font-family: sans-serif;
    color: #fff;
    padding-left: 15px;
}

.input{
    background: transparent;
    border-radius: 0;
    border-color: transparent;
    padding-left: 0 !important;
}

.input:focus{
    background: transparent !important;
}

.login-btn{
    border-radius: 20px; 
    width: 242px;
    font-weight:bold;
    bottom: 50px;
    right: 40px;
   
   
}

.btn-primary-login{
    background-color: rgb(10, 103, 175);
    border-radius: 14px;
    height: 43px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.25);
    margin-right: 1rem;

}

.btn-primary{
    background-color: rgb(35, 135, 212);
    border-radius: 14px;
    height: 43px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.25);

}

.btn-primary:hover{
    background-color: rgb(35, 135, 212) !important;
}

.platform{
    background-color: aliceblue;
    border-radius: 20px;
    /* width: 90%; */
    padding: 5%;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.25);
}

.control-label{
    color: gray !important;
    font-weight: bold;
    font-family:sans-serif;
}

.login-bg{
    background-image: url(../../images/doctor-stethescope-medical-treatment-hospital-stock-getty.png) !important;
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-color: #212121bd;
    background-blend-mode: multiply;
}

.registration-bg{
    background-image: url(../../images/nb1.png) !important;
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-color: #212121bd;
    background-blend-mode: multiply;
}

/* @media only screen and (max-device-width: 720px) {    
    .login-bg{
        background-image: url(../../images/doctor-stethescope-medical-treatment-hospital-stock-getty.png) !important;
        background-repeat: no-repeat;
    }
    .registration-bg{
        background-image: url(../../images/nb1.png) !important;
        background-repeat: no-repeat;
    }
} */

 .row{
    /* margin-top: 50px; */
 }

 .footer-link a{
     padding-right:50px;
     color: #fff;
     float: left;
     
 }

 .footer-link a:hover{
    color: #fff;
    text-decoration: none;
   
}

.reg-footer-link a{
    padding-right:50px;
    color: gray;
    float: left;
    font-weight: lighter;
    
}

.reg-footer-link a:hover{
    color: gray;
   text-decoration: none;
  
}

.copy-right .copy{
    color: #fff;
    float: right;
}

.bordered{
    border: 2px solid transparent;
    /* padding-top: 1rem;
    padding-bottom: 0.5rem; */
}

.signup-btn-div {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
}

/* .login-form{
    float: right;
    margin-left: 300px;
} */

.empty{
    float: left;
}

.fpass{
    font-family: sans-serif;
    float: left;
    font-size: 14px;
    font-weight: lighter;
    width: 200px;
    color: #fff;
    
}

.fpass:hover{
    color: #fff;
}

.d-acc a{
    font-family: sans-serif;
    float: left;
    font-size: 12.6px;
    font-weight: lighter;
    width: 200px;
}

.sign-up a{
    left: 110px;
    font-weight: bolder;
    
}

.login-text{
    color: #fff;
}

.navigation{
    background-color: transparent !important;
    margin-bottom: 100px;
}

/* .navbar-item .nav-link{
    text-align: right;
    color: #fff;
} */

.btn-success{
    border-radius: 18px;
    width:100px;
    background-color: cyan;
}

.horizontal-line-2{
    border: 5px solid#2387D4;

}

.info{
    background-color:#B5DCFB;
    border-radius: 0 0 30px 30px ;
    bottom: 50px;
    height:200px;
}

.info h1{
    color: snow;
    padding-left: 60px;
    padding-top: 2rem;
    font-size: 50px;
}

.icons{
    background-color: #DAEBF8;
    border-radius: 0 0 30px 30px ;
    bottom: 50px;
    height:200px;
}
.icons > div:first-child {
    padding-top: 1rem;
}

.icons a{
    color: #000;
    padding: 12px 0 12px 70px;
    text-align: center;
    
}

.icons a:hover{
    color: #000;
}

.sign-up-now-1{
    margin-bottom: 1rem;
    background: linear-gradient( #22C8DD, #1E72B2) ;
    left: 300px;
    border-radius:45px;
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.25);
}

.sign-up-now-2{
    background: linear-gradient( #4387BC, #7BC5FF) ;
    left: 300px;
    border-radius:40px;
}

.sign-up-now-1 p{
    font-family: monospace;
    /* padding-left: 100px; */
    font-size: 12px;
    color: #fff;
}

.sign-up-now-2 p{
    font-family: monospace;
    /* padding-left: 140px; */
    font-size: 12px;
    color: #fff;
  
}

.sign-up-heading1{
    color: #fff;
    font-family: montserrat;
    font-size: 22px;
}

.sign-up-heading2{
    color: #fff;
    font-family: montserrat;
    font-size: 22px;
}
.question-div {
    padding-left: 5rem;
    padding-top: 1rem;
}
.question-holder {
    display: flex;
    justify-content: space-evenly;
}

/* .question-holder > button:first-child {
    margin-right: 4.3rem;
} */
.question-holder > button {
    height: 2rem;
    margin: auto;
    border-radius: 100px;
    margin-right: 4.3rem;
}

.btn-sign-up-now-1{
    margin-bottom: 100px;
}

.heading-p{
    padding:100px;
    text-align: center;
    color: #0D0D0D;
    font-weight: lighter;
}

/* .card{
    width: 70%;
    left: 100px;
    border-radius: 50px;
} */

.card {
    border: none !important;
}
.card-image{
    border-radius: 50px;
}

.card-wrap {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
}

.card-header > p {
    margin-bottom: 0;
}

.checked {
    color: orange;
}

.process{
    color: #000000;
    text-align: left;
    padding-left: 5rem;
}

.top-gradient {
    position: relative;
    max-width: 100%;
    height: 100vh;
    background: url(../../images/doctor-stethescope-medical-treatment-hospital-stock-getty.png);
    background-color: #212121bd;
    background-blend-mode: multiply;
    /* margin-left: -15px;
    margin-right: -15px; */
}   
.bottom-gradient {
    background: #2387d4;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 19%, 0 44%);
    /* clip-path: polygon(0 0, 100% 0, 100% 13%, 0 31%); */
    box-shadow: 0 8px 6px -6px black;
}
.top-text-logo-holder {
    padding: 4rem;
}

.top-text-logo-holder > h1 {
    color: #ffffff;
}

.signup-option-div {
    position: relative;
    bottom: 21rem;
    display: flex;
    justify-content: space-evenly;
}

.login-option{
    background: white;
    border-radius: 5rem;
    height: 110px;
    width: 110px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    /* margin: 0px;
    margin-right: 0; */
    margin: 0 auto;
    /* position: absolute; */
}

.login-option img{
    height: 64px;
    width: 64px;
    transition: .2s;
}
.login-option.active{
    border: 4px solid deepskyblue;
}

.login-option:hover{
    transform: scale(1.05,1.05);
}

.uers-type-text {
    color: #ffffff;
    margin: auto;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    padding-top: 0.8rem;
}

.register-option{
    background: white;
    border-radius: 5rem;
    height: 100px;
    width: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    margin: 0px;
    margin-right: 0;
}

.register-option img{
    height: 64px;
    width: 64px;
    transition: .2s;
}
.register-option.active{
    border: 4px solid deepskyblue;
}

.register-option:hover{
    transform: scale(1.05,1.05);
}

.text-black{
    /* color: black; */
    color: lightgrey;
}

.less-padding{
    padding-left: 2px !important;
    padding-right: 2px !important;
}

.specialist-card{
    background: #5EBBF4;
    border-radius: 1rem;
    color: white;
    padding: 10%;
    margin-bottom: 1rem;
}

.specialist-card a {
    color: white;
}

.specialist-card a:hover{
    text-decoration: none;
}

.specialist-card:hover{
    transform: translateY(-2px);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.specialist-icon{
    width: 32px;
    height: 32px;
}

.image-circle{
    border-radius: 5rem;
    background-color: mediumturquoise;
    padding: 0.5rem;
    height: 46px;
    width: 46px;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.image-circle img{
    height: 20px;
    width: 20px;
}

.table-specialist-rating{
    color: mediumturquoise;
}

.table-specialist-name{
    font-weight: 900;
}

.table-specialist-time{
    font-weight: 600;
}

.table-specialist-time .badge{
    border-radius: 0px;
    max-width: 8px;
    width: 8px;
    height: 8px;

}

.specialist-table tbody tr td{
    padding: 10px;
}

.specialist-table tbody tr:hover{
    background-color: rgba(161, 255, 252, 0.37);
    cursor: pointer;
}

.card-top-rated .card-body{
    background: #1B85F2 !important;
    border-radius: 2rem !important;
    display: flex;
    /* text-align: justify;
    align-content: center;
    justify-content: center; */
    /* border: 2px solid red; */
}
.card-top-rated{
    background: transparent !important;
    border-color: transparent !important;
    padding: 0.4rem;
}

.image-panel img{
    /* border: 2px solid red; */
    width: 100%;
}

@media(max-width: 599px) { 
    .image-panel img{
        width: 50%;
    }
}


.details-panel{
    display: block;
    text-align: justify;
    align-content: center;
    justify-content: center;
    /* border: 2px solid red; */
}
.details-panel .addressor{
    line-break: strict;
}

.details-panel .name{
    font-size: 13px;
    color: white;
}

.details-panel .specialization{
    font-size: 7px;
    color: #ffffff;
}

@media (max-width: 599px) {
    .section-header {
        display: flex !important;
        justify-content: center !important;
    }
    .section-header > h1 {
        padding-left: 0 !important;
    }
    .bordered {
        margin-top: 0 !important;
    }
    .register-option {
      width: 67px !important;
      height: 67px !important;
    }
    .register-option img {
        height: 30px;
        width: 30px;
    }
    .icon-row {
        flex-wrap: nowrap;
    }
    .platform {
        margin-bottom: 2rem;
    }
}
