.modals-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.modals-header {
    /* position: relative; */
    z-index: 10;
    /* background: white;     */
    height: 10%;
}

.modals-content {
    /* background: rebeccapurple;     */
    position: relative;
    padding: 2%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.modals-footer {
    position: relative;
    /* background: salmon;     */
    height: 10%;
    overflow-y: auto;
    overflow-x: hidden;
}

.blured {
    display: block;
    position: absolute;
    top: -10;
    left: -10;
    opacity: .8;
    filter: blur(11rem) saturate(.9) ;
    mix-blend-mode: multiply;
    height: 100%;
    width: 100%;
}