.main-footer .footer-base:after {
  content: "";
  width: 250px;
  border-radius: 130px;
  z-index: 10;
  background-color: rgba(234, 234, 234, 0.25);
  display: block;
  position: absolute;
}

.main-footer {
  min-height: 350px;
  background-color: var(--default-blue_opaque);
  position: relative;
  z-index: 100;
  padding: 30px 70px 20px !important;
  overflow: hidden;
}
.main-footer .grid-wrapper {
  border-bottom: 2px solid rgba(94, 92, 92, 0.4);
}
.main-footer .grid-wrapper .col-lg-4 {
  min-height: 250px;
}
.main-footer .grid-wrapper .footer-col-1 .platform-name-case {
  color: #8a8888;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.main-footer .grid-wrapper .footer-col-1 .platform-name-case span:first-child {
  font-weight: 700;
  font-size: 32px;
}
.main-footer .grid-wrapper .footer-col-1 .platform-name-case span:last-child {
  font-size: 33px;
  font-weight: 200;
}
.main-footer .grid-wrapper .footer-col-1 .address-case {
  text-transform: uppercase;
  margin-bottom: 20px;
}
.main-footer .grid-wrapper .footer-col-1 .phone-line-case {
  margin-bottom: 20px;
}
.main-footer .grid-wrapper .footer-col-2 {
  text-align: center;
  text-transform: uppercase;
}
.main-footer .grid-wrapper .footer-col-2 .section-header {
  font-weight: bolder;
  margin-top: 15px;
}
.main-footer .grid-wrapper .footer-col-2 ul {
  padding: 0;
  list-style-type: none;
}
.main-footer .grid-wrapper .footer-col-2 ul a {
  color: inherit;
  text-decoration: none;
}
.main-footer .grid-wrapper .footer-col-2 ul a li {
  width: 200px;
  margin: 15px auto;
  position: relative;
}
.main-footer .grid-wrapper .footer-col-2 ul a li:hover {
  color: #949090;
  transition: var(--transition-all);
}
.main-footer .grid-wrapper .footer-col-3 .form-input-case {
  margin: 50px auto 100px;
  width: 250px;
  text-align: center;
}
.main-footer .grid-wrapper .footer-col-3 .form-input-case input {
  background-color: transparent;
  color: var(--default-grey);
  text-align: center;
  border-radius: 0;
  border-bottom: 1px solid rgba(94, 92, 92, 0.4);
  border-top: none;
  border-right: none;
  border-left: none;
}
.main-footer .grid-wrapper .footer-col-3 .form-input-case input:active {
  background-color: transparent;
}
.main-footer .grid-wrapper .footer-col-3 .form-input-case .btn {
  background-color: white;
  font-size: 16px;
  border-radius: 20px;
  padding: 3px 25px;
  margin: 15px auto 0;
  box-shadow: 0px 2px 5px -1px var(--default-grey);
}
.main-footer .grid-wrapper .footer-col-3 .form-input-case .btn:hover {
  transform: scale(1.04);
  transition: var(--transition-all);
}
.main-footer .footer-base {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
}
.main-footer .footer-base .copy-case {
  font-size: 22px;
}
.main-footer .footer-base .social-icons-wrapper {
  padding-top: 7px;
}
.main-footer .footer-base .social-icons-wrapper a .icon {
  margin-left: 20px;
  font-size: 22px;
}
.main-footer .footer-base .social-icons-wrapper a .icon:hover {
  transform: scale(1.15);
  color: var(--default-grey);
  transition: var(--transition-all);
}
.main-footer .footer-base:after {
  transform: rotate(-60deg);
  height: 1450px;
  top: -535px;
  left: 10px;
}