.emergency-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1600959907703-125ba1374a12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
    center/cover;
  .custom_plain-wrapper {
    background-color: rgba(255, 255, 255, 0.95);
    h3 {
      font-size: 1rem;
      font-weight: 600;
      color: var(--default-dashboard-heading-clr);
    }
    textarea {
      height: 170px;
      background: #f0f0f0;
      resize: none;
    }
  }
  .specializations-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    .specializations-array {
      padding-left: 0;
      display: flex;
      gap: 1rem;
      margin-bottom: 0;
    }
  }
}
