.hospitals-dashboard-home-wrapper {
  padding: 25px 0 25px 30px;
  color: var(--default-dashboard-text-clr);
  .main-section {
    width: 70%;
    .top-rated-array-item {
      width: 30%;
      .avatar-area {
        width: 32%;
        height: 120px;
        background-color: var(--default-blue-deep);
        border-radius: 20px;
        box-shadow: 0px 5px 15px -2px;
        z-index: 10;
        .specialist-avatar {
          width: 50px;
          height: 50px;
          box-shadow: -3px 5px 11px -1px var(--default-grey);
        }
      }
      .details-area {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 105px;
        background-color: white;
        width: 68%;
        transform: translateX(-5px);
        box-shadow: 3px 5px 24px -3px;
        z-index: 5;
        p {
          font-size: 14px;
        }
        span {
          font-size: 12px;
        }
      }
    }
    .section-header {
      border-top-left-radius: 15px;
    }
  }
  aside {
    width: 30%;
    min-height: 200px;
    .specialization-array {
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
    }
    .online-status-wrapper {
      .section-header {
        border-top-left-radius: 60px;
        border-bottom-left-radius: 60px;
        z-index: 10;
        img {
          padding: 5px;
          width: 50px;
        }
        h5 {
          color: var(--default-blue-deep);
        }
      }
      .section-main {
        z-index: 1;
        border-bottom-left-radius: 30px;
        .figure-wrapper {
          width: 50px;
          height: 50px;
          font-weight: 700;
          text-align: center;
          padding: 6px 7px;
        }
        .online {
          background-color: var(--default-blue-deep);
        }
        .online:after {
          content: "";
          background-color: grey;
          width: 50px;
          height: 2px;
          display: inline-block;
          position: absolute;
          top: 25px;
          left: 64px;
        }
        .offline {
          background-color: rgb(128, 88, 88);
        }
      }
    }
  }
}
