.registration-section-footer {
  width: 100%;
  background-color: transparent;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  .flow-right {
    margin-right: 15px;
  }
  .link {
    margin: 0 25px;
  }
}
