/* Analytics begins */
.section-header > h1 { 
    font-size: 22px;
    padding: 0 0 1.5rem 3rem;
}

/* .direct-img-com {
   
} */

.new-users-holder {
    background-color: #ffffff;
    padding-top: 3rem;
}
.semi-circle-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3rem:
    /* height: 100vh; */
    margin: 0;
}

.semi-circle {
    width: 300px;
    height: 150px;
    
    position: relative;
    color: #000;
    font-size: 15px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    /* border: 1px solid red; */
    --percentage: 0;
    --fill: #00f;

}

.semi-circle:after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    height: 300px;
    border: 50px solid green;
    border-color: #F0F2F8 #F0F2F8 var(--fill) var(--fill);
    border-radius: 50%;
    transform: rotate( calc( 1deg *  (-45 + var(--percentage) * 1.8 )));
    animation: fillAnimation 4s ease-in;
}

@keyframes fillAnimation {
    0% {transform:rotate(-45deg)}
    50% {transform: rotate(135deg)}
}

.percentage-holder > p {
    text-align: center;

}
.percentage-holder > p:first-child {
    /* margin-bottom: 0; */
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}

.percentage-holder > p:nth-child(2) {
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 300;
    font-style: normal;
}

.total-new-users {
    background-color: #2387D4;
}
.new-users-wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}
.new-users-wrap > button {
    background: #103F4D;
    width: 6rem;
    border-radius: 50px;
    height: 2rem;
    color: #fff;
}

.report-holder {
    background-color: #ffffff;
}
.report-child {
    padding: 1rem;
}
.report-top {
    display: flex;
    justify-content: space-between;
}
.report2 {
    padding: 1rem;
}
.report-top > button {
    background-color: #103F4D;
    color: #ffffff;
    border-radius: 50px;
    width: 5rem;
}
.report-list {
    display: flex;
    justify-content: space-between;
}
.report-list > p {
    font-size: 11px;
    margin-top: 1rem;
}
.report-span > span:nth-child(2) {
    padding-left: 1.5rem;
    font-size: 11px;
    margin-top: 2.5rem;
    position: relative;
    top: 23%;
}

.icon-background {
    color: #FFCA83;
    background: #FFF4E5;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    padding-top: 0.6rem;
}
.icon-background2 {
    color: #FF7285;
    background: #FFE2E6;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    padding-top: 0.6rem;
}

.fa-exclamation {
    border-radius: 50px;
    width: 1rem;
    height: 1rem;
}
.fa-exclamation::before {
    left: 100%;
    position: relative;
    color: #ffffff;
    top: 60%;
}
.fa-close::before {
   
    position: absolute;
    color: #ffffff;
    left: 66%;
    margin-top: 0.6rem;
}
.transaction {
    background-color: #ffffff;
}

.tools-holder{
    padding-top: 5rem;
}
.my-card {
    width: 11rem !important;
    height: 11rem !important;
}
.card-text {
    padding-top: 1rem;
    font-size: 11px;
}
/* Analytics ends */

/* Communication begins */
.communication-option {
    padding-top: 2rem;
}
.comm-card {
    width: 8rem !important;
    height: 8rem !important;
    border-radius: 100% !important;
    margin: auto;
}

.comm-wrap > p {
    text-align: center;
    padding-top: 1rem;
}
/* Communications ends */

/* Direct messaging starts */
.direct-messaging-wrap {
    display: flex;
    padding-left: 2rem;
}

.direct-icon-holder {
    height: 5rem;
    width: 5rem;
    background-color: #fff;
    border-radius: 50px;
}
.direct-messaging-wrap > h1 {
    padding-left: 2rem;
    padding-top: 1.5rem;
    /* font-size: 26px;
    font-weight: bold; */
}
.direct-img {
    width: 50% !important;
    margin: 1.2rem !important;
}
.filter-holder {
    padding: 3rem 1rem 0 1rem;
}
.filter-input {
    border-radius: 100px;
}

.filter-by {
    background-color: #2699FB;
    color: #ffffff !important;
    line-height: 28px;
    font-size: 16px;
    border-radius: 100px;
    text-align: center;
}
.search-label {
    background-color: #2387D4;
    color: #ffffff !important;
    font-size: 16px;
    border-radius: 100px;
    text-align: center;
    line-height: 28px;
}

.massage-holder {
    background-color: #ffffff;
}

.name-image-wrap {
    display: flex;
}
.name-image-wrap > img {
   object-fit: cover;
}
.name-image-wrap > p {
    line-height: 40px;
    padding-left: 0.5rem;
    margin-bottom: 0;
}
.id-number {
    padding: 0 0 !important;
}
.id-number > p {
    background-color: #66FFD2;
    color: #337F69;
    text-align: center;
    border-radius: 100px;
    width: fit-content;
    padding: 0.2rem 2rem
}

.action-holder {
    background-color: #2699FB;
    border-radius: 100px;

    padding: 0.5rem;
    margin: 0.5rem;
}
.action-holder > i {
    margin: 0.14rem;
}
.action-holder > i::before {
    color: #ffffff;
}

/* Direct messaging ends */

/* Overviwe begins */
/* .overview-icon-holder > img {
  width: 48%;
  margin: 1.5rem;
} */
.overview-img {
    width: 2.2rem !important;
    margin: 1rem 0rem 1rem 1.4rem !important;
}
.cd {
    background-color: red !important;
}
.nameoftarget > p {
    color: #000000;
}
.name-image-wrap2 {
    display: flex;
}
.name-image-wrap2 > p {
    line-height: 40px;
    padding-left: 0.5rem;
    margin-bottom: 0;
}
.name-image-wrap2 > img {
    border-radius: 100px;
    object-fit: cover;
}

.id-number2 {
    padding: 0 0 !important;
}
.id-number2 > p {
    color: #337F69;
    text-align: center;
    width: fit-content;
    padding: 0.2rem 2rem
}
.action-holder2 {
    background-color: #2699FB;
    padding: 0.5rem;
    margin: 0.5rem;
}
.action-holder2 > i::before {
    color: #ffffff;
}
/* Overview ends */

/* Targetted masseging */

.direct-icon-holder > img {
    width: 64%;
    margin: 1rem;
}
.targetted {
    padding-top: 5rem;
    position: relative;
}
.targeted {
    background-color: #ffffff;
    width: 8rem;
    height: 8rem;
    border-radius: 100px;
    margin: auto;
    margin-bottom: 2rem;
}

.targeted-img > img {
    width: 56%;
    margin-left: 1.7rem;
    margin-top: 2rem;
}
.patient-img {
    width: 30%;
    margin-left: 3rem;
    margin-top: 2rem;
}
.doctor-img {
    width: 24%;
    margin-left: 3rem;
    margin-top: 2rem;
}

.hospital-img {
    width: 36%;
    margin-left: 2.5rem;
    margin-top: 2rem;
}
.add-more-target {
    position: absolute;

}
.add-more-target > p {
    font-size: 25px;
}

@media(max-width: 599px) {
    .direct-messaging-wrap {
        padding-left: 0;
    }
    .direct-messaging-wrap > h1 {
        font-size: 18px;
        padding-left: 1rem;
    }
}

/* Targetec messaging */
