* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bs-gutter-x: 0 !important;
}
* a {
  color: inherit;
  text-decoration: none;
}
* a:hover {
  color: inherit;
  text-decoration: none;
}

:root {
  --default-blue: #10acf5;
  --default-blue-deep: #2387d4;
  --default-blue-calm: #7ea2be;
  --default-blue_opaque: rgba(16, 172, 245, 0.2);
  --default-blue-calm_opaque: rgba(126, 162, 190, 0.2);
  --default-white: white;
  --default-grey: #565656;
  --default-dashboard-heading-clr: #4d718d;
  --default-dashboard-text-clr: #5a6f81;
}
:root .facebook-blue {
  color: #3b5998;
}
:root .twitter-blue {
  color: #00aced;
}
:root .instagram {
  color: #e95950;
}
:root .linkedin {
  color: #007bb5;
}
:root .youtube {
  color: #ff0000;
}

:root {
  --transition-all: all 0.75s ease;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.btn-wrapper .custom-button {
  padding: 8px 35px;
  color: white;
  font-size: 16px;
  background-color: var(--default-blue-deep);
  box-shadow: 4px 4px 6px -1px var(--default-grey);
}
.btn-wrapper .custom-button:hover {
  transform: scale(1.05);
  transition: var(--transition-all);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.dashboard-header {
  background: var(--default-white);
}
.dashboard-header .dashboard-title-container {
  padding: 0.5rem 1rem;
  background: #3d4a54;
  color: var(--default-white);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.dashboard-header .dashboard-title-container img {
  width: 40px;
}
.dashboard-header .dashboard-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.dashboard-nav-items {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-left: 0;
  padding-right: 3rem;
}
.dashboard-nav-items .dashboard-nav-link {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 0.5rem 1rem;
  padding-left: 3rem;
}
.dashboard-nav-items .dashboard-nav-link img {
  width: 22px;
  height: 22px;
}
.dashboard-nav-items .dashboard-nav-link:hover {
  font-weight: bolder;
}

.dashboard-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background: #2387d4;
  color: var(--default-white);
}
.dashboard-main-header .bi {
  font-size: 25px;
}
.dashboard-main-header .user {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}
.dashboard-main-header .user .bi-chevron-down {
  font-size: 16px;
}
.dashboard-main-header .user p {
  margin-bottom: 0;
}

.dashboard-form .dashboard-form-input {
  width: 300px;
  border-radius: 15px;
  position: relative;
}
.dashboard-form .bi {
  font-size: initial;
  transform: translate(-30px, 6px);
  color: var(--default-grey);
}

.dashboard-user-details {
  display: flex;
  align-items: center;
  gap: 1.55rem;
}
.dashboard-user-details img {
  width: 40px;
  border-radius: 50%;
}

.dashboard-user {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.dashboard-payment-section {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 2rem;
}
.dashboard-payment-section .dashboard-payment {
  padding: 1.5rem 2.5rem;
  border-radius: 35px;
  background: var(--default-white);
}
.dashboard-payment-section .dashboard-payment-header {
  color: var(--default-dashboard-heading-clr);
}
.dashboard-payment-section .dashboard-payment-header .dashboard-payment-title {
  font-weight: 700;
}
.dashboard-payment-section .dashboard-payment-header p {
  text-transform: uppercase;
}
.dashboard-payment-section .dashboard-payment-form-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 2.2rem;
}
.dashboard-payment-section .dashboard-payment-form-section span {
  text-transform: uppercase;
  color: var(--default-blue-calm);
}
.dashboard-payment-section .dashboard-payment-form {
  border-radius: 15px;
  padding: 0 1rem;
  border: 2px solid var(--default-grey);
  font-size: 1.3rem;
}
.dashboard-payment-section .dashboard-payment-form label {
  display: flex;
  align-items: center;
}
.dashboard-payment-section .dashboard-payment-form span {
  color: initial;
  font-weight: 600;
}
.dashboard-payment-section .dashboard-payment-form input {
  all: unset;
  padding: 0.4rem 0.75rem;
}

.dashboard-payment-payment {
  padding-top: 2rem;
  border-top: 1px solid var(--default-grey);
}
.dashboard-payment-payment h3 {
  font-size: 1.6rem;
  text-decoration: underline;
}
.dashboard-payment-payment .payment-calulations {
  font-size: 1.5rem;
}
.dashboard-payment-payment .payment-total {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 0.75rem;
}

.dashboard-jobs {
  display: grid;
  place-items: center;
}
.dashboard-jobs img {
  width: 65px;
}
.dashboard-jobs h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-weight: 600;
  margin-top: -30px;
  color: var(--default-dashboard-heading-clr);
}

.dashboard-job {
  margin: 0 auto;
  margin-top: -90px;
  border-radius: 50%;
  background: #fff;
  width: 150px;
  height: 150px;
  display: grid;
  place-items: center;
}

.btn-container {
  padding-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.btn-container img {
  width: 30px;
}
.btn-container .btn {
  background: red;
  padding: 0.5rem 1.75rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
  background: #23d4bf;
}
.btn-container .btn:nth-child(2) {
  background: #2387d4;
}
.btn-container .btn:nth-child(3) {
  background: #fb7272;
}
.btn-container .bi {
  font-size: 20px;
}

.jobs_plain-wrapper {
  width: 70%;
  margin: 0 auto;
  min-height: 300px;
  border-radius: 15px;
  padding: 50px 30px;
  color: var(--default-dashboard-text-clr);
  background-color: white;
}

.jobs-outbox-wrapper .page-header {
  font-weight: 700;
  width: 100%;
  color: #2b3e4e;
}
.jobs-outbox-wrapper .page-header i {
  font-size: 35px;
  margin-right: 15px;
}
.jobs-outbox-wrapper .page-header h3 {
  padding-top: 8px;
  font-weight: 700;
}
.jobs-outbox-wrapper .page-header .page-header-item:active {
  border-bottom: 5px solid var(--default-blue-deep);
}
.jobs-outbox-wrapper .jobs_plain-wrapper .jobs-outbox-nav {
  border-bottom: 1px solid #e1e4e7;
}
.jobs-outbox-wrapper .jobs_plain-wrapper .jobs-outbox-nav .header-item {
  padding: 15px 10px 10px;
  width: 25%;
  box-sizing: content-box;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}
.jobs-outbox-wrapper .jobs_plain-wrapper .jobs-outbox-nav .header-item:nth-child(3) {
  border-right: 1px solid #e1e4e7;
  border-left: 1px solid #e1e4e7;
}
.jobs-outbox-wrapper .jobs_plain-wrapper .jobs-outbox-nav .header-item:first-child {
  border-right: 1px solid #e1e4e7;
}
.jobs-outbox-wrapper .jobs_plain-wrapper .job-details-area .job-title {
  font-size: 17px;
  font-weight: bold;
}
.jobs-outbox-wrapper .jobs_plain-wrapper .job-details-area .job-extras-wrapper {
  font-size: 13px;
}
.jobs-outbox-wrapper .jobs_plain-wrapper .job-details-area .job-extras-wrapper .track-btn {
  background-color: var(--default-blue-deep);
  border-radius: 20px;
  font-size: 15px;
}

.create-jobs-header h4 {
  font-weight: bold !important;
}

.create-jobs-main-content h5 {
  font-weight: bold;
  font-size: 15px;
}
.create-jobs-main-content .invite-type-wrapper {
  margin-top: 50px;
}
.create-jobs-main-content .invite-type-wrapper .invite-item-case {
  padding-top: 20px;
}
.create-jobs-main-content .invite-type-wrapper .invite-item-case .invite-item {
  width: 140px;
  height: 140px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  padding: 15px;
  margin-right: 25px;
  border-radius: 5px;
  position: relative;
}
.create-jobs-main-content .invite-type-wrapper .invite-item-case .invite-item:first-child {
  background-color: #bd4747;
}
.create-jobs-main-content .invite-type-wrapper .invite-item-case .invite-item:last-child {
  background-color: var(--default-blue-deep);
}
.create-jobs-main-content .invite-type-wrapper .invite-item-case .invite-item div {
  text-align: center;
  margin: 43px auto;
}
.create-jobs-main-content .invite-type-wrapper .invite-item-case .invite-item .tick-icon {
  position: absolute;
  font-size: 20px;
  top: 5px;
  right: 10px;
}
.create-jobs-main-content .specialist-count-wrapper {
  margin-top: 40px;
}
.create-jobs-main-content .specialist-count-wrapper .counter {
  width: 150px;
  margin-top: 15px;
  border: 2px solid var(--default-dashboard-text-clr);
  justify-content: space-between;
  border-radius: 5px;
}
.create-jobs-main-content .specialist-count-wrapper .counter span,
.create-jobs-main-content .specialist-count-wrapper .counter button {
  width: 30%;
  text-align: center;
  font-size: 20px;
  color: white;
  padding: 5px 0;
}
.create-jobs-main-content .specialist-count-wrapper .counter button:first-child {
  background-color: var(--default-dashboard-text-clr);
}
.create-jobs-main-content .specialist-count-wrapper .counter span {
  color: var(--default-dashboard-text-clr);
}
.create-jobs-main-content .specialist-count-wrapper .counter button:last-child {
  background-color: var(--default-dashboard-text-clr);
}

.navigator-wrapper {
  width: 85%;
  margin: 60px auto 40px;
}
.navigator-wrapper .navigator-item {
  width: 100px;
  padding: 0 10px;
  background-color: var(--default-dashboard-text-clr);
  color: white;
}
.navigator-wrapper .navigator-item:hover {
  transform: scale(1.05);
  transition: var(--transition-all);
}
.navigator-wrapper .navigator-item div {
  min-width: 65%;
  margin: 7px 0;
}
.navigator-wrapper .navigator-item i {
  font-size: 25px;
}
.navigator-wrapper .navigator-item i:first-child {
  margin-right: 10px;
}
.navigator-wrapper .navigator-item i:last-child {
  margin-left: 10px;
}

.emergency-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://images.unsplash.com/photo-1600959907703-125ba1374a12?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80") center/cover;
}
.emergency-section .jobs_plain-wrapper {
  background-color: rgba(255, 255, 255, 0.95);
}
.emergency-section .jobs_plain-wrapper h3 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--default-dashboard-heading-clr);
}
.emergency-section .jobs_plain-wrapper textarea {
  height: 170px;
  background: #f0f0f0;
  resize: none;
}
.emergency-section .specalists-section {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.emergency-section .specalists-section .specialists {
  padding-left: 0;
  display: flex;
  gap: 1rem;
  margin-bottom: 0;
}
.emergency-section .specalists-section .specialist {
  border-radius: 10px;
  background: #a3d8f9;
  padding: 0.2rem 0.5rem 0.5rem;
}
.emergency-section .specalists-section .specialist h4 {
  font-size: 0.75rem;
  font-weight: 600;
  margin-bottom: 0;
}
.emergency-section .specalists-section .specialist p {
  font-size: 0.6rem;
}

.job-post-success .check-icon-wrapper {
  padding: 0 15px;
}
.job-post-success .check-icon-wrapper i {
  font-size: 120px;
}
.job-post-success h2 {
  font-weight: 700;
  padding-top: 1.2rem;
}
.job-post-success p {
  text-transform: capitalize;
  padding-top: 1rem;
}
.job-post-success a {
  background: #e4ecf2;
  border: 0;
  padding: 15px 50px;
  margin-top: 1.5rem;
  color: currentColor;
}
.job-post-success a:hover {
  color: white;
  background-color: var(--default-blue-deep);
}

.help-support-section .jobs_plain-wrapper {
  padding: 0;
  overflow: hidden;
  width: 90%;
  margin-block: 50px;
}
.help-support-section header {
  background: linear-gradient(226.38deg, #23bcd4 14.92%, #41eafe 89.46%);
}
.help-support-section header p {
  width: 600px;
}
.help-support-section .dashboard-form-input {
  width: 600px;
  padding: 0.85rem 1.2rem;
  border-radius: 50px;
}
.help-support-section button {
  position: absolute;
  top: 32px;
  right: 10px;
  padding: 0.4rem 3rem;
  border-radius: 50px;
  background: #5d5d5d;
}
.help-support-section img {
  width: 50px;
}
.help-support-section .other-info-section {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 2rem 1.75rem;
  font-size: 0.85rem;
}

.favourites {
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}
.favourites .jobs_plain-wrapper {
  width: 80%;
  margin-top: 1rem;
}
.favourites h3 {
  margin-bottom: 0;
}
.favourites ul {
  padding-left: 0;
  padding-top: 5rem;
}
.favourites img {
  border-radius: 50%;
  width: 42px;
}
.favourites .square {
  width: 10px;
  height: 10px;
  background: #85ff96;
}
.favourites .btn {
  background: #2387d4;
  color: #fff;
}
.favourites .btn:nth-child(1) {
  background: #41eafe;
}

.treatment-category h2 {
  background: #23d4bf;
  padding: 0.35rem 1rem;
  border-radius: 5px;
  width: max-content;
  letter-spacing: 0.15em;
  color: #5d5d5d;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0;
}

button {
  all: unset;
}

.dashboard-container {
  min-height: 100vh;
  background: #d1e9e1;
  color: var(--default-grey);
  display: grid;
  grid-template-columns: 275px 1fr;
}

.active {
  font-weight: 700;
  border-left: 8px solid #c92d2d;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.15);
}