* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bs-gutter-x: 0 !important;
}
* a {
  color: inherit;
  text-decoration: none;
}
* a:hover {
  color: inherit;
  text-decoration: none;
}

:root {
  --default-blue: #10acf5;
  --default-blue-deep: #2387d4;
  --default-blue-calm: #7ea2be;
  --default-blue_opaque: rgba(16, 172, 245, 0.2);
  --default-blue-calm_opaque: rgba(126, 162, 190, 0.2);
  --default-white: white;
  --default-grey: #565656;
  --default-dashboard-clr: #4d718d;
}
:root .facebook-blue {
  color: #3b5998;
}
:root .twitter-blue {
  color: #00aced;
}
:root .instagram {
  color: #e95950;
}
:root .linkedin {
  color: #007bb5;
}
:root .youtube {
  color: #ff0000;
}

:root {
  --transition-all: all 0.75s ease;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.btn-wrapper .custom-button {
  padding: 8px 35px;
  color: white;
  font-size: 16px;
  background-color: var(--default-blue-deep);
  box-shadow: 4px 4px 6px -1px var(--default-grey);
}
.btn-wrapper .custom-button:hover {
  transform: scale(1.05);
  transition: var(--transition-all);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.dashboard-header {
  background: var(--default-white);
}
.dashboard-header .dashboard-title-container {
  padding: 0.5rem 1rem;
  background: #3d4a54;
  color: var(--default-white);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.dashboard-header .dashboard-title-container img {
  width: 40px;
}
.dashboard-header .dashboard-title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0;
}

.dashboard-nav-items {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.dashboard-nav-items .dashboard-nav-link {
  display: flex;
  gap: 0.5rem;
}
.dashboard-nav-items .dashboard-nav-link:hover {
  font-weight: bolder;
}

.dashboard-main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background: #2387d4;
  color: var(--default-white);
}
.dashboard-main-header .bi {
  font-size: 25px;
  color: inherit;
}
.dashboard-main-header .user {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}
.dashboard-main-header .user .bi-chevron-down {
  font-size: 16px;
}
.dashboard-main-header .user p {
  margin-bottom: 0;
}

.dashboard-form {
  background: var(--default-white);
  border-radius: 25px;
}
.dashboard-form label {
  display: flex;
  align-items: center;
}
.dashboard-form .dashboard-form-input {
  all: unset;
  padding: 0.4rem 0.75rem;
  color: var(--default-grey);
}
.dashboard-form .bi-search {
  margin-right: 11px;
  color: var(--default-grey);
}

.dashboard-user-details {
  display: flex;
  align-items: center;
  gap: 1.55rem;
}
.dashboard-user-details img {
  width: 40px;
  border-radius: 50%;
}

.dashboard-user {
  display: flex;
  align-items: center;
  gap: 0.65rem;
}

.dashboard-payment-section {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 2rem;
}
.dashboard-payment-section .dashboard-payment {
  padding: 1.5rem 2.5rem;
  border-radius: 35px;
  background: var(--default-white);
}
.dashboard-payment-section .dashboard-payment-header {
  color: var(--default-dashboard-clr);
}
.dashboard-payment-section .dashboard-payment-header .dashboard-payment-title {
  font-weight: 700;
}
.dashboard-payment-section .dashboard-payment-header p {
  text-transform: uppercase;
}
.dashboard-payment-section .dashboard-payment-form-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-top: 3rem;
  padding-bottom: 2.2rem;
}
.dashboard-payment-section .dashboard-payment-form-section span {
  text-transform: uppercase;
  color: var(--default-blue-calm);
}
.dashboard-payment-section .dashboard-payment-form {
  border-radius: 15px;
  padding: 0 1rem;
  border: 2px solid var(--default-grey);
  font-size: 1.3rem;
}
.dashboard-payment-section .dashboard-payment-form label {
  display: flex;
  align-items: center;
}
.dashboard-payment-section .dashboard-payment-form span {
  color: initial;
  font-weight: 600;
}
.dashboard-payment-section .dashboard-payment-form input {
  all: unset;
  padding: 0.4rem 0.75rem;
}

.dashboard-payment-payment {
  padding-top: 2rem;
  border-top: 1px solid var(--default-grey);
}
.dashboard-payment-payment h3 {
  font-size: 1.6rem;
  text-decoration: underline;
}
.dashboard-payment-payment .payment-calulations {
  font-size: 1.5rem;
}
.dashboard-payment-payment .payment-total {
  font-size: 2rem;
  font-weight: 600;
  padding-top: 0.75rem;
}

.dashboard-jobs {
  display: grid;
  place-items: center;
}
.dashboard-jobs h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 10px;
  font-weight: 600;
  margin-top: -30px;
}

.dashboard-job {
  margin: 0 auto;
  margin-top: -100px;
  border-radius: 50%;
  background: #fff;
  width: 150px;
  height: 150px;
  display: grid;
  place-items: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
}

p {
  margin-bottom: 0;
}

button {
  all: unset;
}

.dashboard-container {
  min-height: 100vh;
  background: #d1e9e1;
  color: var(--default-grey);
  display: grid;
  grid-template-columns: 275px 1fr;
}

.active {
  font-weight: 700;
}