* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bs-gutter-x: 0 !important;
}
* a {
  color: inherit;
  text-decoration: none;
}
* a:hover {
  color: inherit;
  text-decoration: none;
}

:root {
  --default-blue: #10acf5;
  --default-blue-deep: #2387d4;
  --default-blue-calm: #7ea2be;
  --default-blue_opaque: rgba(16, 172, 245, 0.2);
  --default-blue-calm_opaque: rgba(126, 162, 190, 0.2);
  --default-white: white;
  --default-grey: #565656;
  --default-dashboard-heading-clr: #4d718d;
}
:root .facebook-blue {
  color: #3b5998;
}
:root .twitter-blue {
  color: #00aced;
}
:root .instagram {
  color: #e95950;
}
:root .linkedin {
  color: #007bb5;
}
:root .youtube {
  color: #ff0000;
}

:root {
  --transition-all: all 0.75s ease;
}

.btn-wrapper {
  display: flex;
  justify-content: space-evenly;
}
.btn-wrapper .custom-button {
  padding: 8px 35px;
  color: white;
  font-size: 16px;
  background-color: var(--default-blue-deep);
  box-shadow: 4px 4px 6px -1px var(--default-grey);
}
.btn-wrapper .custom-button:hover {
  transform: scale(1.05);
  transition: var(--transition-all);
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.lead-banner {
  width: 100%;
  min-height: 600px;
  background-size: cover;
  background-image: url(../../images/black-doc.png);
}
.lead-banner .lead-banner-overlay {
  width: inherit;
  min-height: inherit;
  background-color: rgba(0, 0, 0, 0.35);
}
.lead-banner .lead-banner-overlay .lead-text-case {
  padding-top: 200px;
  width: 50%;
  color: white;
  text-align: center;
  font-weight: 500;
  font-size: 40px;
  margin-left: auto;
}
.lead-banner .lead-banner-overlay .lead-text-case::after {
  content: "";
  background-color: var(--default-blue);
  width: 300px;
  height: 4px;
  margin: 40px auto;
  display: block;
}

.video-area .text-wrapper:after, .top-specialists-section .specialist-array:before, .how-it-works-section .call-for-signup:after, .goals-area .downloads-area .our-capacity-container:after {
  content: "";
  width: 250px;
  border-radius: 130px;
  z-index: 10;
  background-color: rgba(234, 234, 234, 0.25);
  display: block;
  position: absolute;
}

.goals-area .container-fluid {
  padding: 0;
}
.goals-area .downloads-area {
  margin-top: 50px;
}
.goals-area .downloads-area .app-download-links-case {
  display: flex;
  padding: 10px 80px;
}
.goals-area .downloads-area .app-download-links-case a {
  margin: 0 10px;
}
.goals-area .downloads-area .app-download-links-case a img {
  width: 200px;
  height: 60px;
}
.goals-area .downloads-area .our-capacity-container {
  padding-right: 80px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 100;
}
.goals-area .downloads-area .our-capacity-container:after {
  height: 1485px;
  transform: rotate(-60deg);
  top: -600px;
}
.goals-area .downloads-area .our-capacity-container .our-capacity-child {
  margin: 40px auto;
  background-image: url(../../images/specialist-count.png);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: overlay;
  width: 350px;
  min-height: 300px;
  position: relative;
  z-index: 100;
}
.goals-area .downloads-area .our-capacity-container .our-capacity-child .blurry-overlay {
  width: 100%;
  min-height: inherit;
  padding: 35px;
  background-color: transparent;
}
.goals-area .downloads-area .our-capacity-container .our-capacity-child .blurry-overlay:before {
  content: "";
  background-color: var(--default-blue);
  width: 120px;
  margin: 0 auto;
  height: 3px;
  display: block;
}
.goals-area .downloads-area .our-capacity-container .our-capacity-child .blurry-overlay .capacity-figure-container {
  margin: 30px auto 10px;
}
.goals-area .downloads-area .our-capacity-container .our-capacity-child .blurry-overlay .capacity-figure-container img {
  width: 40px;
  height: 40px;
}
.goals-area .downloads-area .our-capacity-container .our-capacity-child .blurry-overlay .capacity-figure-container .specialist-number {
  font-size: 60px;
  font-weight: 400;
  margin-top: 10px;
}
.goals-area .goals-container {
  width: 550px;
  margin-left: auto;
  background-color: var(--default-white);
  border-top-left-radius: 60px;
  border-bottom-left-radius: 50px;
  transform: translateY(-100px);
  padding: 20px;
  box-shadow: 4px 0 8px 2px var(--default-grey);
}
.goals-area .goals-container .goals-header {
  margin-top: 40px;
  font-weight: 900;
  text-align: center;
}
.goals-area .goals-container .goals-header:after {
  content: "";
  background-color: var(--default-blue);
  width: 180px;
  height: 4px;
  margin: 10px auto;
  display: block;
}
.goals-area .goals-container .goals-list {
  margin: 50px 0 100px;
}
.goals-area .goals-container .goals-list .goals-item {
  margin-bottom: 25px;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}
.goals-area .goals-container .goals-list .goals-item-list-number-bg {
  background-image: url(../../images/list-item.png);
  background-size: cover;
  width: 130px;
  height: 73px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}
.goals-area .goals-container .goals-list .goals-item span {
  padding: 0 15px 0 30px;
}

.how-it-works-section {
  transform: translateY(-70px);
  border-top: 8px solid var(--default-blue);
  width: 100%;
}
.how-it-works-section .about-service .process-title {
  font-weight: 700;
  font-size: 50px;
  display: flex;
  align-items: center;
  background-color: rgba(126, 162, 190, 0.7);
  text-align: center;
  padding: 25px;
  color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.how-it-works-section .about-service .service-process {
  background-color: var(--default-blue-calm_opaque);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.how-it-works-section .about-service .service-process .process-item {
  padding: 20px;
  text-align: center;
}
.how-it-works-section .about-service .service-process .process-item .icon-wrapper {
  width: 60px;
  height: 60px;
  padding: 10px;
  border-radius: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}
.how-it-works-section .about-service .service-process .process-item .icon-wrapper img {
  width: 40px;
  height: 40px;
}
.how-it-works-section .about-service .service-process .process-item .process-item-title {
  font-weight: bold;
  text-transform: capitalize;
  padding-top: 10px;
}
.how-it-works-section .call-for-signup {
  margin-top: 80px;
  position: relative;
  z-index: 100;
}
.how-it-works-section .call-for-signup .lg-1 {
  background-image: linear-gradient(to bottom, var(--default-blue), var(--default-blue-deep), #1a4a6f);
}
.how-it-works-section .call-for-signup .lg-2 {
  background-image: linear-gradient(to top, var(--default-blue), var(--default-blue-deep), #1a4a6f);
}
.how-it-works-section .call-for-signup .call-item {
  position: relative;
  z-index: 100;
  margin: 0 auto 25px;
  padding: 30px 50px;
  color: white;
  border-radius: 60px;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.how-it-works-section .call-for-signup .call-item .text-area .call-item-title {
  font-weight: bold;
  margin: 0;
}
.how-it-works-section .call-for-signup .call-item .btn-aside {
  border-radius: 60px;
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  margin: auto 0;
  padding: 0 35px;
  background-color: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 5px 5px -1px var(--default-grey);
}
.how-it-works-section .call-for-signup .call-item .btn-aside:hover {
  transform: scale(1.05);
  transition: var(--transition-all);
}
.how-it-works-section .call-for-signup:after {
  height: 1495px;
  transform: rotate(60deg);
  top: -600px;
  right: 10px;
}

.top-specialists-section {
  margin-top: 50px;
  text-align: center;
}
.top-specialists-section .section-header {
  text-transform: uppercase;
  font-weight: 700;
}
.top-specialists-section .section-header:before {
  content: "";
  background-color: var(--default-blue);
  width: 300px;
  margin: 25px auto;
  height: 5px;
  display: block;
}
.top-specialists-section .specialist-array {
  margin: 50px auto;
  position: relative;
  z-index: 100;
}
.top-specialists-section .specialist-array:before {
  height: 1200px;
  transform: rotate(-60deg);
  top: -320px;
}
.top-specialists-section .specialist-array a {
  width: 16px;
  margin: 0 auto;
}
.top-specialists-section .specialist-profile {
  width: 16rem;
  margin: 0 auto;
}
.top-specialists-section .specialist-profile .card {
  text-align: left;
  width: 100%;
  position: relative;
  z-index: 100;
  border: none;
  background-color: transparent;
}
.top-specialists-section .specialist-profile .card img {
  width: 100%;
  height: 200px;
  background-size: cover;
  border-radius: 35px;
  position: relative;
  z-index: 1000;
  box-shadow: 9px -6px 37px -22px var(--default-grey);
}
.top-specialists-section .specialist-profile .card .card-body {
  padding: 80px 16px 25px;
  background-color: rgba(255, 255, 255, 0.89);
  transform: translateY(-60px);
  position: relative;
  box-shadow: 9px 12px 37px -22px var(--default-grey);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  z-index: 100;
}
.top-specialists-section .specialist-profile .card .card-body .card-title {
  font-weight: bold;
}
.top-specialists-section .specialist-profile .card .card-body .specialist-qualifications {
  font-weight: bold;
  display: block;
}
.top-specialists-section .specialist-profile .card .card-body .stars-wrapper .rating {
  background-color: yellow;
  width: 150px;
  margin-top: 5px;
  border-radius: 20px;
  padding: 5px 10px;
  color: yellow;
}
.top-specialists-section .specialist-profile .card:hover {
  transform: translateY(-10px);
  transition: var(--transition-all);
}

.video-area {
  margin: 80px auto;
}
.video-area .video-wrapper {
  min-height: 350px;
  margin: 0 50px;
  position: relative;
  z-index: 100;
}
.video-area .text-wrapper {
  position: relative;
}
.video-area .text-wrapper span:last-child {
  font-weight: 900;
}
.video-area .text-wrapper:after {
  transform: rotate(60deg);
  height: 1450px;
  top: -420px;
  right: 10px;
}

body {
  overflow-x: hidden;
}