* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  --bs-gutter-x: 0 !important;
}
* a {
  color: inherit;
  text-decoration: none;
}
* a:hover {
  color: inherit;
  text-decoration: none;
}

:root {
  --default-blue: #10acf5;
  --default-blue-deep: #2387d4;
  --default-blue-calm: #7ea2be;
  --default-blue_opaque: rgba(16, 172, 245, 0.2);
  --default-blue-calm_opaque: rgba(126, 162, 190, 0.2);
  --default-white: white;
  --default-grey: #565656;
}
:root .facebook-blue {
  color: #3b5998;
}
:root .twitter-blue {
  color: #00aced;
}
:root .instagram {
  color: #e95950;
}
:root .linkedin {
  color: #007bb5;
}
:root .youtube {
  color: #ff0000;
}

.background-layout {
  background-color: rgba(0, 0, 0, 0.35);
  background-blend-mode: overlay;
  background-image: url("../../images/nb1.png");
  background-repeat: no-repeat;
  background-size: cover;
}

:root {
  --transition-all: all 0.75s ease;
}

.background-layout .main-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 30px 30px 0 30px;
  margin-bottom: 31px;
}
.background-layout .main-footer .footer-left a {
  text-decoration: none;
  color: var(--default-white);
}

.background-layout .signUp {
  width: 100%;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0.3rem 0.6rem;
  background-color: #2387d4;
  border-color: #0095ff;
  color: white;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
  width: width;
  border-radius: border-radius;
}

.background-layout .back {
  width: 45px;
  height: 45px;
  display: flex;
  border-radius: 100px;
  background-color: var(--default-white);
  justify-content: center;
  align-items: center;
  filter: drop-shadow(3px 6px 5px rgba(0, 0, 0, 0.192));
}

.background-layout .register-option {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 5px;
  background-color: var(--default-white);
  border-radius: 6rem;
  margin: 0px;
}
.background-layout .register-option img {
  height: 64px;
  width: 64px;
}

.background-layout h2 {
  font-size: 18px;
  font-weight: 100;
}
.background-layout p {
  color: var(--default-white);
}
.background-layout a {
  text-decoration: none;
}
.background-layout #content {
  padding: 55px 0 50px 0;
}
.background-layout .platform {
  border: #707070;
  background-color: var(--default-white);
  padding: 25px;
  border-radius: 15px;
  height: fit-content;
}
.background-layout .platform input {
  outline: 0;
  border: none;
  border-bottom: 1px #707070 solid;
  border-radius: 0;
}
.background-layout .platform input:focus {
  box-shadow: none;
}
.background-layout .platform #lastInput input {
  border: none;
  outline: 0;
  border-bottom: none;
}
.background-layout .checkBox input {
  width: 24px;
  height: 24px;
  outline: 0;
}
.background-layout .signUp {
  text-align: center;
}
.background-layout .signUp:hover {
  color: var(--default-white);
}
.background-layout .account p {
  text-align: center;
}
.background-layout .account p a {
  color: var(--default-white);
  font-weight: 700;
}
.background-layout .main-footer {
  padding-top: 0px;
}