.signup-option-div {  
    // position: relative;
    bottom: 21rem;
    display: flex;
    justify-content: space-evenly;  
    div {
        display: flex;
        justify-content: center;
        align-self: center;
        flex-direction: column;
        cursor: pointer;
    }
}
