* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      color: inherit;
      text-decoration: none;
    }
  }

  // bootstrap resets

  --bs-gutter-x: 0 !important;
}
