.dashboard-jobs {
  display: grid;
  place-items: center;

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 10px;
    font-weight: 600;
    margin-top: -30px;
  }
}

.dashboard-job {
  margin: 0 auto;
  margin-top: -100px;
  border-radius: 50%;
  background: #fff;
  width: 150px;
  height: 150px;
  display: grid;
  place-items: center;
}
