.specialist-near-you {
  .custom_plain-wrapper {
    width: 75%;
  }
  .globe {
    width: 450px;
  }

  .specialists {
    font-size: 0.8rem;
  }

  .specialist {
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
    transform: all 0.3s ease-in-out;

    img {
      width: 90px;
      height: 125px;
      object-fit: cover;
    }

    ul {
      margin-bottom: 0;
    }
  }
}
