.wallet-page {
  .custom_plain-wrapper {
    padding: 0;
    margin-block: 0;
    width: 75%;
  }

  .active-card {
    outline: 3px solid #2387d4;
  }

  .banking-details {
    background-color: #e8e8e8;
  }

  .transaction-type {
    border: 3px solid red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    color: currentColor;
  }
  .withdraw {
    border-color: #20c120;
    color: #20c120;
  }
  .funded {
    border-color: #2387d4;
    color: #2387d4;
  }
}
