.help-support-section {
  .custom_plain-wrapper {
    padding: 0;
    overflow: hidden;
    width: 90%;
    margin-block: 50px;
  }

  header {
    background: linear-gradient(226.38deg, #1e98ab 14.92%, #39d2e4 89.46%);
    p {
      width: 650px;
    }
  }

  .dashboard-form-input {
    width: 500px;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
  }

  .search-btn {
    padding: 0.4rem 3rem;
    border-radius: 50px;
  }

  img {
    max-width: 50px;
  }

  .other-info-section {
    gap: 3rem 1.5rem !important;
    li {
      width: 30%;
    }
  }
}
