.lead-banner {
  width: 100%;
  min-height: 600px;
  background-size: cover;
  transform: translateY(-95.5px);
  background-image: url(../../images/black-doc.png);
  .lead-banner-overlay {
    width: inherit;
    min-height: inherit;
    background-color: rgba(0, 0, 0, 0.35);
    .lead-text-case {
      padding-top: 200px;
      width: 50%;
      color: white;
      text-align: center;
      font-weight: 500;
      font-size: 40px;
      margin-left: auto;
      &::after {
        content: '';
        background-color: var(--default-blue);
        width: 300px;
        height: 4px;
        margin: 40px auto;
        display: block;
      }
    }
  }
}
