#basic-data-2-specific {
  label {
    font-weight: bold;
    padding-bottom: 7px;
  }
  textarea {
    margin: 10px 0;
  }
  input[type='date'] {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }
  .form-grouping {
    display: flex;
    justify-content: space-between;
    .form-input-group {
      width: 48%;
    }
  }
}
