.job-inbox {
  padding: 5rem 4rem;
}

.inbox-container {
  p,
  span {
    font-size: 14px;
    max-width: 500px;
  }

  .inbox-header {
    padding: 12px 66px 5px 18px;
    background-color: var(--default-blue-deep);
    width: max-content;
    border-radius: 20px 20px 0px 0px;
    color: #fff;
  }

  .filled-btn {
    background-color: #10acf5;
    border-color: #10acf5;
    // color: #fff;
  }

  .outline-btn {
    border-color: #10acf5;
    color: #10acf5;

    &:hover {
      background-color: #10acf5;
      color: #fff;
    }
  }
}

.offers {
  height: 400px;
  overflow: auto;

  .offers-heading {
    color: #2387d4;
  }

  h4 {
    margin-bottom: 0;
  }
}
.emergency-offer {
  border-radius: 25px;
  background-color: #fb7272;
}

.offer {
  border-radius: 25px;
  background-color: #10acf5;

  p {
    font-size: 0.75rem;
  }
}
