.job-details {
  min-height: 100vh;
  background-color: "#eaf1f8";

  .job-link {
    background-color: #e4ecf2;
  }

  .job-copy-link {
    color: var(--default-blue-deep);
    font-size: 0.8rem;
  }
}
